
var foo = "'hello world' from comm.wxs";
var bar = function(d) {
  return d;
}

var defVal = function(v, defaultVal) {
  if (typeof v === 'undefined') {
    return defaultVal
  }
  return v
}

/**
 * 
 * @param e 获取代码
 * @param instanse 
 */
function callEvent(e, instanse) {
  console.log(instanse.callMethod)
  instanse.callMethod('callEvent', {e: e})
}
module.exports = {
  foo: foo,
  bar: bar,
  defVal: defVal,
  callEvent: callEvent,
}